button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: .3em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: #000;
    border-radius: 1em;
    padding: 1em;
}

.operators {
    background-color: #ff9500;
    color: #fff;
}

.numbers {
    background-color: #505050;
    color: #fff;
}

.zero {
    width: 6.7em;
    padding-right: 4em;
}